<!-- <section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A passionate, creative, and personalable student!</h2>
                <hr class="light">
                <p class="text-faded">I'm a self-motivated, self-driven individual. I have experienced many different leadership workshops and been exposed to many things that challenged me to go outside of my previous comfort zone. I am very adaptable, willing to learn, and show inspiring effort doing what I am passionate about. Aside from my personal goals, I value any opportunity I get to learn from my peers about things they know or have learned. </p>
                <a href="#" class="btn btn-default btn-xl">Contact me!</a>
            </div>
        </div>
    </div>
</section> -->


