<header>
    <div class="header-content">
        <div class="row" style="background-color: lightgray;">
            <div class="profile">
                <!-- <img src="img/portfolio/MillenniumFellowshipProfilePic.png" width=100 height=100> -->
                <p class="name">Katelyn Morrison</p>
                <p class="university">University of Pittsburgh ~ Class of 2021</p>
            </div>
        </div>
        <div class="row">
            <div class="box" style="background-color: rgb(204, 229, 255);">
                <h3 id="title">Experiences</h3>
                <hr>
                <div class="innerbox" style="border: 2px solid; outline-style: solid; outline-color: rgb(20, 59, 90);">
                        <h4>Software Developer Intern | PPG</h4>
                        <h5>May 2019 - August 2019</h5>
                        <p style="padding: 10px;"> • Worked on the Collaboration Team within the Digital Center of Excellence creating a vital form to document and manage the user accessibility to a finance application in ServiceNow using JavaScript and creating automatic provisioning workflows</p>
                </div>
            </div>
            <div class="box" style="background-color: rgb(179, 215, 255)">
                <h3 id="title">Achievements</h3>
                <hr>
                <p id="info-right">
                    
                </p>
            </div>
            <div class="box" style="background-color: rgb(204, 229, 255);">
                    <h3 id="title">Currently Reading</h3>
                    <hr>
                    <div class="innerbox" style="border: 2px solid; outline-style: solid; outline-color: rgb(20, 59, 90);">
                        <p id="info-right">
                            • Algorithm to Live By: The Computer Science of Human Decisions by Brian Christian and Tom Griffiths
                        </p>
                        <p id="info-right">• Deep Learning by Andrew W. Trask</p>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="info">
                <h4>Recent Events/Talks Attended</h4>
                <hr>

                <button class="collapsible">PyOhio 2019 ~ Ohio State University: July 27th - 28th</button>
                <div class="content">
                    <h5>Talks attended: </h5>
                    <p class="notes">~ Demystifying Machine Learning: Nikola Novakovic</p>
                    <p class="notes">~ Feature Engineering: An Apprentice’s Guide to the “Dark Art” of Machine Learning: Deborah Diller Harris</p>
                    <p class="notes">~ </p>
                </div>
                <button class="collapsible">AI For Good: Local and Global Partnerships For Advancing Responsible AI</button>
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <button class="collapsible">Bill McKibben Discusses Falter @ University of Washington</button>
                <div class="content">
                    <p>https://envstudies.uw.edu/2019/04/15/bill-mckibben-discusses-falter/</p>
                </div>

                <script>
                    var coll = document.getElementsByClassName("collapsible");
                    var i;

                    for (i = 0; i < coll.length; i++) {
                        coll[i].addEventListener("click", function() {
                            this.classList.toggle("active");
                            var content = this.nextElementSibling;
                            if (content.style.maxHeight){
                                content.style.maxHeight = null;
                            } else {
                                content.style.maxHeight = content.scrollHeight + "px";
                            } 
                        });
                    }
                </script>
            </div>
        </div>
    </div>

</header>
